@model MVCDBEntity4.Models.Employee

<tr>
    <td>
        <input type="checkbox" name="id_list" id="id_list" value="@Model.Id" />
    </td>
    <td>@Model.Name</td>
    <td>@Model.Gender</td>
    <td>@Model.City</td>
    <td>@Model.DateOfBirth</td>
    <td>@Model.DepartmentId</td>
</tr>